@model Comment
@if (User.Identity.IsAuthenticated)
{


	<div class="leave-comment-form mt-5" id="reply">
		<h4 class="side-title mb-2">Bir yorum bırakıb</h4>
		<p class="mb-4">
			Işaretli alanları doldurmanız gerekmektedir *
		</p>
		<form method="post" asp-action="AddCommenT" asp-controller="Comment">

			<input type="hidden" asp-for="DestinationID" value="@ViewBag.destinationID" />
			<input type="hidden" asp-for="AppUserId" value="@ViewBag.appUserID" />
			<h3>@Model.AppUserId</h3>
			<h3>@Model.DestinationID</h3>
			<div class="form-group">
				<textarea  class="form-control" placeholder="Yorumunuz*" asp-for="@Model.Description" required  spellcheck="false"></textarea>
			</div>
			<div class="submit text-right">
				<button class="btn btn-style btn-primary">Yorumu Yap </button>
			</div>
		</form>
	</div>
}else
{
	<h2>Yorum yapabilmek için üye olmanız gereklidir</h2>
}