@model CreateDestinationCommand
@{
    ViewData["Title"] = "AddDestination";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Tur Rotası Ekleme Sayfası (CQRS)</h1>

<div class="row">
	<div class="col-xl">
		<div class="card mb-4">
			<div class="card-body">
				<form method="post" enctype="multipart/form-data">
					<div class="mb-3">
						<label class="form-label" for="basic-default-fullname">Şehir</label>
						<input type="text" asp-for="@Model.City" class="form-control" id="basic-default-fullname" placeholder="Şehir" />
						@Html.ValidationMessageFor(x => x.City, "", new { @class = "Text-danger" })
					</div>

					<div class="mb-3">
						<label>Gün - Gece </label>
						<input type="text" asp-for="@Model.DayNight" class="form-control" id="basic-default-company" placeholder="Gün - Gece" />
					</div>


					<div class="mb-3">
						<label>Fiyat</label>
						<input type="text" asp-for="@Model.Price" class="form-control" id="basic-default-company" placeholder="Fiyat" />
					</div>

					<div class="mb-3">
						<label class="form-label" for="basic-default-company">Kapasite</label>
						<input type="text" asp-for="@Model.Capacity" class="form-control" id="basic-default-company" placeholder="Kapasite">
					</div>
					<button type="submit" class="btn btn-primary">Oluştur</button>
				</form>
			</div>
		</div>
	</div>
</div>
