@model List<GetAllDestinationQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>CQRRS Tur Verileri </h1>
<br />
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Sehir</th>
        <th>Gün-Gece</th>
        <th>Fiyat</th>
        <th>Kapasite</th>
        <th>Sil</th>
        <th>Güncelle</th>
      
    </tr>
    @foreach(var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.City</td>
            <td>@item.DayNight</td>
            <td>@item.Price</td>
            <td>@item.Capacity</td>
            <td><a href="/Admin/DestinationCQRS/RemoveDestination/@item.ID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/DestinationCQRS/GetDestination/@item.ID" class="btn btn-outline-warning">Güncelle</a></td>
         
        </tr>
    }
</table>

<a href="/Admin/DestinationCQRS/AddDestination/" class="btn btn-outline-primary">Yeni Rota</a>